<h2 class="header">Cornelius Rost ToDoList: {{todoCount}}</h2>
<div class="containerAddToDo">
  <div class="addToDo">
    <mat-form-field style="width:100%;">
      <input  [formControl]="todoForm" matInput placeholder="New ToDo-Item">
    </mat-form-field>

    <mat-form-field style="width:100%;">
      <input type="number" [formControl]="prioForm" matInput placeholder="Priority">
    </mat-form-field>

    <button style="width:100%; margin-bottom: 25px" (click)="addItem()" mat-stroked-button color="primary">Add</button>
  </div>
</div>

  <div class="todoList">
    <button class="todo" mat-flat-button color="primary">ToDo</button>
    <button class="prio" mat-flat-button color="primary">Priority</button>
    <button class="prio" mat-flat-button color="primary">Done?</button>
  </div>

<div class="empty" *ngIf="todoCount === 0">nichts zu tun gerade!</div>
<div class="todoList" *ngFor="let todoItem of todoItems">
    <button class="todo" mat-stroked-button color="primary">{{todoItem.todo}}</button>
    <button class="prio" mat-stroked-button color="primary">{{todoItem.priority}}</button>
    <button (click)="deleteToDoItem(todoItem)" class="done" mat-stroked-button color="warn">Done!</button>
  </div>
